dist: trusty
language: python

python:
    # - 2.6 disabled as the TestLoader.discover() method is not available on python < 2.7
    - 2.7
    - pypy

matrix:
  fast_finish: true

env:
    - PYTHONHASHSEED=random

install:
    - pip install twisted six
    - pip install -r requirements.txt
    - if [[ $TRAVIS_PYTHON_VERSION != 'pypy' ]]; then pip install --no-binary lxml html5-parser; fi

script: ./run_tests.py
