include MANIFEST.in
include COPYING.txt
include INSTALL.txt
include GeneralFAQ.html
include README.html.in
include README.html
include README.txt
include ChangeLog.txt
include *.py
recursive-include examples *.py
