include MANIFEST.in
include COPYING.txt
include INSTALL.txt
include GeneralFAQ.html
include README.html.in
include README.html
include README.txt
include doc.html.in
include doc.html
include ChangeLog.txt
include 0.1.0-changes.txt
include *.py
prune docs-in-progress
recursive-include examples *.py
recursive-include attic *.py
recursive-include test-tools *.py
